.btn {
  margin: 10px 10px;
  padding: 5px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  &__warning {
    background-color: rgb(241, 76, 34);
  }
  &__info {
    background-color: rgb(11, 110, 11);
  }
}
