.modal {
  display: block;
  text-align: center;
  width: 30%;
  margin: 10vh auto;
  &__warning {
    background: rgb(252, 118, 118);
    //background-color: rgb(252, 118, 118);
  }
  &__info {
    background: rgb(131, 214, 63);
    // background-color: rgb(131, 214, 63);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 30px;
  }
  &__text {
    padding: 5px 30px;
  }
  &__btn {
    margin: 10px 10px;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
    }
  }
}

.btn__close {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}
